@{
    ViewData["Title"] = "Home Page";
}

<div >
    <div class="row ">
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1">
            <img class="icon" src="~/images/Black Dragon icon.png">            
        </div>
        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-8">
            <h1>
                Welcome to Authorization Service
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <p class="index-p-text">
               This is the custom autorization service based on IdentirtyServer4, where you can authorize (also with google account) and get access to another services.                
            </p>
        </div>
    </div>
</div>
