@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    if (User.IsInRole("client"))
    {
        <li>@Html.ActionLink("Services", "Index", "ServiceProviders")</li>
    }
    else
    {
        if (User.IsInRole("service provider"))
        {
            <li>@Html.ActionLink("Manage", "Manage", "ServiceProviders")</li>
        }
    }

}
