@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    if (User.IsInRole("client"))
    {
        <li>@Html.ActionLink("Order service", "Index", "ServiceProviders")</li>
        <li>@Html.ActionLink("My orders","ClientOrders","Order")</li>
    }
    else
    {
        if (User.IsInRole("service provider"))
        {
            <li>@Html.ActionLink("My orders", "ProviderOrders", "Order")</li>
        }
    }

}
