@model ServiceOrder.ViewModel.ViewModels.Implementation.ServiceProvidersViewModels.ServiceProviderRegionsViewModel

@{
    ViewBag.Title = "AddRegion";
}

<h2>Choose your regions:</h2>

<span id="notification" style="display: none;"></span>

@using (Html.BeginForm("AddRegion","ServiceProviders",FormMethod.Post, new {@class= "add-region-form" }))
{
    @Html.AntiForgeryToken()

<div class="product-dropdownlist">
    <select id="products" ></select>
</div>

<input type="submit" value="Save" class="btn btn-default" />
 
}
<div>
    @Html.ActionLink("Back to Manage", "Manage", null, new {@class = "btn btn-default"})
</div>

<script id="errorTemplate" type="text/x-kendo-template">
    <div class="error-notification">
        <img src="http://demos.telerik.com/kendo-ui/content/web/notification/error-icon.png" />
        <h3>#= title #</h3>
        <p>#= message #</p>
    </div>
</script>

<script id="successTemplate" type="text/x-kendo-template">
    <div class="success-notification">
        <img src="http://demos.telerik.com/kendo-ui/content/web/notification/success-icon.png" />
        <h3>#= message #</h3>
    </div>
</script>

<script>
    $(document).ready(function () {
        var allRegions = @(Html.Raw(Json.Encode(Model.allRegions)));
        var providerRegions =@(Html.Raw(Json.Encode(Model.providerRegions)));
        $("#products").kendoMultiSelect({
            placeholder: "Select products...",
            dataTextField: "Title",
            dataValueField: "Id",
            dataSource: allRegions,
            value: providerRegions
        });

        var multiselect = $("#products").data("kendoMultiSelect");

        var notification = $("#notification").kendoNotification({
            position: {
                pinned: true,
                top: 50,
                right: 30
            },
            autoHideAfter: 5000,
            stacking: "down",
            templates: [{
                type: "error",
                template: $("#errorTemplate").html()
            }, {
                type: "success",
                template: $("#successTemplate").html()
            }]
        }).data("kendoNotification");

        $('input:submit').click(function (event) {
            event.preventDefault();
            $.ajax({
                url: '/ServiceProviders/AddRegion',
                type: 'POST',
                data: {s : JSON.stringify( multiselect.dataItems())},
                success: function () {
                    notification.show({
                        message: "Success"
                    }, "success");
                },
                error: function (error) {
                    notification.show({
                        title: "Error",
                        message: error.statusText
                    }, "error");
                }
            });
        });



    });
</script>

