@model ServiceOrder.ViewModel.ViewModels.Implementation.ServiceProvidersViewModels.ServiceProviderRegionsViewModel

@{
    ViewBag.Title = "AddRegion";
}

<h2>Choose your regions:</h2>

@using (Html.BeginForm("AddRegion","ServiceProviders",FormMethod.Post, new {@class= "add-region-form" }))
{
    @Html.AntiForgeryToken()

<div class="product-dropdownlist">
    <select id="products" ></select>
</div>

<input type="submit" value="Save" class="btn btn-default" />
 
}
<div>
    @Html.ActionLink("Back to Manage", "Manage",null,new {@class="btn btn-default"})
</div>
<script>
    $(document).ready(function () {
        var allRegions = @(Html.Raw(Json.Encode(Model.allRegions)));
        var providerRegions =@(Html.Raw(Json.Encode(Model.providerRegions)));
        $("#products").kendoMultiSelect({
            placeholder: "Select products...",
            dataTextField: "Title",
            dataValueField: "Id",
            dataSource: allRegions,
            value: providerRegions
        });

        var multiselect = $("#products").data("kendoMultiSelect");

        $('input:submit').click(function (event) {
            event.preventDefault();
            $.ajax({
                url: '/ServiceProviders/AddRegion',
                type: 'POST',
                data: {s : JSON.stringify( multiselect.dataItems())},
                success: function () {
                    alert('suc');
                },
                error: function (error) {
                    alert('error');
                }
            });
        });



    });
</script>

