@model ServiceOrder.ViewModel.ViewModels.Implementation.AlbumViewModels.AlbumViewModel

@{
    ViewBag.Title = "Manage Album";
}


<h2>Manage @Model.Title Album</h2>



@using (Html.BeginForm("AddPhotosToAlbum","ServiceProviders",FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.Id);

    <input name="files" type="file" multiple/>
    <input type="submit" value= "Upload" />
}


<script>
    $(document).ready(function() {
        $("input:submit").click(function(event) {
            event.preventDefault();

        });
    });

</script>