@model ServiceOrder.ViewModel.ViewModels.Implementation.AlbumViewModels.AlbumViewModel

@{
    ViewBag.Title = "Manage Album";
}


<h2>Manage @Model.Title Album</h2>


<div>
    @Html.ActionLink("Back to List","Index","Album", new { albumId = Model.Id }, new { @class = "btn btn-default" })
</div>

<div>
    @Html.ActionLink("Back to List", "Add", "Album",new {albumId = Model.Id}, new {@class = "btn btn-default"})
</div>

<div>
    @Html.ActionLink("Back to List", "Edit", "Album", new { albumId = Model.Id }, new { @class = "btn btn-default" })
</div>
<script>
    

</script>